{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
  <!--INNER BANNER START-->

<div id="inner-banner" class="catalogue_soins_capillaire">
	<div class="container">
	  <h1>{{ 'Serum, Milk and Lotion Care'|trans }}</h1>
	  <em>{{ 'Pamper yourself naturally'|trans }}</em>
	  <em>{{ 'As well as your skin and your dander'|trans }}</em>
	</div>
</div>
  <!--INNER BANNER END--> 


  <!--MAIN START-->
<div id="main">
	<section class="product-detail">
		<div class="top-row">
			<div class="container">
				<div class="row">
					{% if user.hasPermission('administer commerce_product_attribute') %}
						<div class="col-md-12">
							<a href="{{ edit_product }}" class="btn-style-1">Edit Prodcut<i class="fa fa-angle-right" aria-hidden="true"></i>
							</a>
						</div>
					{% endif %}
					<div class="col-md-6 col-sm-6">
						<div class="frame">
							{{ product.variation_field_photo_detail }}
						</div>
					</div>
					<div class="col-md-6 col-sm-6">					
						<div class="text-box">
							<h2>{{ product.title }}</h2>
						</div>
						{% if product.variation_field_contenu_lot %}
							<div class="list-box"> <strong class="title lot">{{ 'Description'|trans }}:</strong>
								<span class="lot_value">{{ product.variation_field_contenu_lot}}</span>
							</div>
						{% endif %}
					
						{% if product.variation_field_substance %}
							<div class="list-box"> <strong class="title">{{ 'Benefits'|trans }}:</strong>
								<span>{{ product.variation_field_substance }}</span>
							</div>
						{% endif %}
					</div>					
				</div>
				<div class="row">
					<div class="col-md-12">
						{{ product.field_engagement }}					
					</div>
					<div class="col-md-12">    
						<div class="list-box"> <strong class="title">{{ 'Price'|trans }}:</strong>
							<span>{{ product.variation_price }}</span>
						</div>	
						<div class="list-box volume"> 
							<strong class="title">{{ 'Available in'|trans }}:</strong>
							{{ product.variations|without('title') }} 
						</div>								
					</div>
					{% if product.field_ingredient|length > 2 %}
						<div class="col-md-12 bottom_product_fields">
							<div class="list-box ingredient">
								<span class="lot_value">
									<div class="composition_label">
										<strong class="title">COMPOSITION</strong>
									</div>
									{{ product.field_ingredient }}
								</span>
							</div>								
						</div>
					{% endif %}
					{% if product.field_composition['#items']|length > 0 %}
						<div class="col-md-12 bottom_product_fields">
							<div class="composition_label">
								<strong class="title">{{ 'KEY INGREDIENTS'|trans }}</strong>
							</div>
							{% for slide in product.field_composition['#items'] %}							
								<div class="row field_composition_row">
									<div class="col-md-3 field_composition_image">
										<img class="image_item" alt="{{ slide.entity.field_image.0.alt }}" src="{{ file_url(slide.entity.field_image.0.entity.uri.value) }}">
									</div>
									<div class="col-md-9 field_composition_text">
										<span class="field_composition_text_title">{{ slide.entity.translation(lang).title.value }}</span>	
										<div>{{ slide.entity.translation(lang).body.value| raw }}</div>
									</div>
								</div>			
							{% endfor %}				
						</div>
					
					{% endif %}
				</div>
			</div>
		</div>
	</section>
</div>
{#
/**
 * 				<!--
 * 	            <div class="list-box"> <strong class="title">Marque:</strong>
 * 	            	<span>{{ product.variation_field_marque2}}</span>
 * 	            </div>
 * 				-->	
 *
*						<a data-toggle="modal" class="product_item_link" href="#produit_{{ countItem }}" >							
*							<img class="image_item" src="{{ file_url(item.entity.field_image[0].entity.fileuri) }}">
*						</a>														
 *				<!-- 
 *
 *	            <div class="list-box"> <strong class="title">Usage:</strong>
 *	            	<span>{{ product.variation_field_usage}}</span>
 *	            </div>	 
 *				-->
 */
#}