  <footer id="footer">
    <section class="footer-section-1">
      <div class="container">
        <div class="inner-col"> <strong class="footer-logo"><a href="#"><img src="{{variables.images_path}}footer-logo.png" alt="img"></a></strong> <em><strong>{{ 'Head office'|trans }}:</strong> 1 rue youssef labbassi El May 4175 Djerba, <strong>Mail:</strong> eglantinenature@gmail.com, <strong>{{ 'Tel'|trans }}:</strong> 92227397.</em> </div>
		
      </div>
    </section>
    <section class="footer-section-2">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>{{ 'Main Menu'|trans }}</h3>
              <div class="categories-col">
                <ul class="width-1">
                  <li><a href="/{{ variables.lang }}">{{ 'Home'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-savon-shampoo">{{ 'Soap, Gel & Shampoo'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-bain">{{ 'Bath'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-creme-baume">{{ 'Cream & Balm'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-serum-lait-lotion">{{ 'Serum, Milk & Lotion'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-bougie-huile">{{ 'Candle & Oil'|trans }}</a></li>
                </ul>
                <ul>
                  <li><a href="/{{ variables.lang }}/catalogue-hygiene">{{ 'Hygiene'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-chez-soi">{{ 'At home'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-pitou">{{ 'Pitou'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-nos-packs">{{ 'Our Packs'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-complet/">{{ 'Complete Catalog'|trans }}</a></li>
                  <li><a href="/{{ variables.lang }}/catalogue-nos-packs">{{ 'Gift card'|trans }}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>{{ 'Our company'|trans }}</h3>
              <div class="recent-col">
                <ul>
                  <li>
                    <div class="thumb"><img src="/sites/default/files/styles/original/public/2020-06/services-img-1-footer.png" alt="img"></div>
                    <div class="text-col"> 
						<a href="/{{ variables.lang }}/node/2382">{{ 'Our Philosophy'|trans }}</a> 
						<span class="date">{{ 'A know-how inspired by the resources of nature'|trans }}</span> 
					</div>
                  </li>
                  <li>
                    <div class="thumb"><img src="/sites/default/files/styles/original/public/2020-06/paiement_securise.png" alt="img"></div>
                    <div class="text-col">
						<a href="/{{ variables.lang }}/node/2381">{{ 'Terms of Sales'|trans }}</a>
						<span class="date">{{ 'Our commitments and your rights'|trans }}</span>
					</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="footer-box">
              <h3>{{ 'Store opening hours'|trans }}</h3>
              <div class="timing-col">
                <ul>
                  <li>{{ 'Monday'|trans }}<span>15:00 {{ 'to'|trans }} 17:00</span></li>
				  <li>{{ 'Tuesday'|trans }}<span>15:00 {{ 'to'|trans }} 17:00</span></li>
                  <li>{{ 'Wednesday'|trans }}<span>15:00 {{ 'to'|trans }} 17:00</span></li>
                  <li>{{ 'Thursday'|trans }}<span>15:00 {{ 'to'|trans }} 17:00</span></li>
                  <li>{{ 'Friday'|trans }}<span>15:00 {{ 'to'|trans }} 17:00</span></li>
                  <li>{{ 'Saturday'|trans }}<span>09:00 {{ 'to'|trans }} 12:00</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-section-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-social">
              <ul>
                <li class="social-color-1"><a href="https://twitter.com/majdoulinesadd2"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                <li class="social-color-2"><a href="https://www.facebook.com/Eglantine.nature"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></li>
                <li class="social-color-4"><a href="https://www.instagram.com/eglantine.nature/?hl=fr"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
                <li class="social-color-5"><a href="https://www.youtube.com/channel/UCo8zY77zONRgCxaccp-bKBA/?guided_help_flow=5"><i class="fa fa-youtube-play" aria-hidden="true"></i>Youtube</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6"><strong class="copyright"><span>Eglantine  Nature</span> &copy; 2020, All Rights Reserved</strong></div>
        </div>
      </div>
    </section>
  </footer>