<section class="header-top-row">
    <div class="container">
		<div class="row">
			<div class="col-md-3">
				
					<ul>
					<li> <img src="{{variables.images_path}}tunisie.png" alt="img">{{ 'Shipping costs of 6DT within Tunisia.'|trans }}</li>
					</ul>
				
			</div>
			<div class="col-md-5">	
				
					<ul>		  
					<li> <img src="{{variables.images_path}}stouche_20_20.png" alt="img">{{ 'FREE shipping from 80DT purchase!'|trans }}</li>
					</ul>
				
			</div>
			<div class="col-md-3">
				
					<ul>
					<li> <a class="header_link" href="/{{ variables.lang }}/cgv"><img src="{{variables.images_path}}hand_shake_white_40_20.png" alt="img">{{ 'Terms of Sales'|trans }}</a></li>
					</ul>
				
			</div>
			<div class="col-md-1">
				
					<ul>
						<li><div class="closebtn">&times;</div></li>
					</ul>
				
			</div>
		</div>
    </div>
</section>
